.btn{
  padding: 10px 30px;
  background-color: black;
  color:#fff;
  border: 0;
  border-radius: 12px;
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: gray;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: rgb(139, 135, 135);
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: rgb(78, 78, 78);
}